header nav {
  text-align: left;
  list-style-type: none;
  display: flex;
}
header nav li.dummy {
  background-color: #f75311;
  width: 20rem;
  font-size: 1.5rem;
  display: flex;
}
header nav li.dummy img {
  width: 4rem;
  margin: auto;
}
header nav li.dummy p {
  color: #ffffff;
  text-decoration: underline;
  margin: auto;
}

header nav ul {
  list-style-type: none;
  display: flex;
  background-color: #374249;
}
header nav ul li {
  width: 5rem;
  margin-left: 1rem;
  margin-top: 1.3rem;
}
header nav ul li:hover {
  text-decoration: underline;
}
header nav ul li a {
  color: #ffffff;
}

footer {
  text-align: center;
}
footer div {
  background-color: #374249;
  font-size: small;
  height: 2rem;
  position: relative;
}
footer div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
footer div p span {
  color: #f75311;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

main .textImage {
  text-align: center;
  letter-spacing: 1px;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #374249;
  color: #f3f7f9;
}

main .btnWraper {
  height: 5rem;
}
main .btnWraper .inputWrpaper {
  width: 40%;
  float: right;
  display: flex;
}
main .btnWraper .inputWrpaper input {
  width: 5rem;
  text-align: center;
  padding: 1rem;
  margin: auto;
  border: 1px solid #cfd1d3;
  color: #cfd1d3;
  border-radius: 2rem;
  margin-top: 0.7rem;
}
main .btnWraper .inputWrpaper input:hover {
  background-color: #cfd1d3;
  color: #ffffff;
}

main .offerWraper {
  background-color: #f3f7f9;
}
main .offerWraper .imgContainer::after {
  content: "";
  clear: both;
  display: table;
}

main .offerWraper .imgContainer {
  width: 80%;
  margin: auto;
}

.img {
  float: left;
  width: 10rem;
  padding: 1rem;
  margin-left: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: left;
}
.img img {
  height: 13rem;
}
.img .text {
  position: absolute;
  top: 1rem;
  padding: 1rem;
  background-color: #f3f7f9;
  opacity: 0.6;
  display: none;
}

.img:hover .text {
  display: block;
}

.priceWraper {
  text-align: center;
}
.priceWraper h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem;
  letter-spacing: 1px;
}
.priceWraper p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tableContainer {
  margin-bottom: 5rem;
}
.tableContainer table {
  margin: auto;
  width: 50%;
  border-collapse: collapse;
}
.tableContainer table tr {
  width: 50%;
}
.tableContainer table tr #gone {
  border: none;
}
.tableContainer table tr #orange {
  background-color: #f75311;
  color: #cfd1d3;
}
.tableContainer table tr #darkBlue {
  background-color: #374249;
  color: #cfd1d3;
}
.tableContainer table tr td {
  width: 25%;
  border: 1px solid black;
}
.tableContainer table tr th {
  width: 25%;
  border: 1px solid black;
}

.priceWraper .btnTable {
  text-align: center;
  display: none;
}
.priceWraper .btnTable input {
  width: 10rem;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid #cfd1d3;
  background-color: #ffffff;
  color: #cfd1d3;
  border-radius: 5rem;
}
.priceWraper .btnTable input:hover {
  background-color: #cfd1d3;
  color: #ffffff;
}

main .contact {
  display: block;
  background-color: #f3f7f9;
}
main .contact h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.contact .contactWraper {
  display: flex;
}
.contact .contactWraper .mapNewYork {
  text-align: center;
  width: 70%;
  margin-top: 4rem;
}
.contact .contactWraper .mapNewYork iframe {
  width: 15rem;
  height: 15rem;
}
.contact .contactWraper .contactContainer form {
  width: 70%;
  margin-top: 3.5rem;
  margin-bottom: 7rem;
  background-color: #f75311;
  padding: 1rem;
  display: inline-block;
  text-align: center;
}
.contact .contactWraper .contactContainer form select {
  width: 20%;
  height: 1.8rem;
  margin-right: 1rem;
}
.contact .contactWraper .contactContainer form input {
  width: 70%;
  height: 1.7rem;
  color: #cfd1d3;
  padding-left: 1rem;
}
.contact .contactWraper .contactContainer form input#email {
  width: 94.5%;
  margin-top: 1rem;
}
.contact .contactWraper .contactContainer form textarea {
  width: 95%;
  margin-top: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  main .textImage {
    top: 50%;
  }

  main .btnWraper {
    height: 5rem;
  }
  main .btnWraper .inputWrpaper {
    width: 60%;
  }

  main .offerWraper .imgContainer {
    width: 90%;
  }

  .tableContainer {
    margin-bottom: 5rem;
  }
  .tableContainer table {
    width: 80%;
  }

  .contact .contactWraper .contactContainer form select {
    width: 15%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  header nav li.dummy {
    background-color: #f75311;
    width: 15rem;
    font-size: 1rem;
  }
  header nav li.dummy img {
    width: 3rem;
  }

  header nav ul li {
    width: 4rem;
    margin-top: 1rem;
  }

  main .textImage {
    width: 50%;
    top: 30%;
  }

  main .btnWraper .inputWrpaper {
    width: 100%;
  }

  .img {
    width: 40%;
    padding: 0.1rem;
  }
  .img img {
    height: 19rem;
  }
  .img .text {
    top: 0;
    padding: 2rem;
  }

  .tableContainer {
    margin-bottom: 5rem;
  }
  .tableContainer table {
    width: 70%;
  }

  .contact .contactWraper {
    display: block;
  }
  .contact .contactWraper .mapNewYork {
    text-align: center;
    width: 100%;
    margin-top: 4rem;
  }
  .contact .contactWraper .mapNewYork iframe {
    width: 18rem;
    height: 18rem;
  }
  .contact .contactWraper .contactContainer {
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header nav {
    text-align: center;
    display: block;
  }
  header nav li.dummy {
    text-align: left;
    background-color: #f75311;
    width: 100%;
    font-size: 1rem;
    display: flex;
  }
  header nav li.dummy img {
    width: 3rem;
    margin: 0;
  }
  header nav li.dummy p {
    color: #ffffff;
    text-decoration: underline;
    margin: auto;
  }

  header nav ul {
    list-style-type: none;
    display: block;
    background-color: #374249;
  }
  header nav ul li {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    padding: 1rem;
    display: none;
  }
  header nav ul li:hover {
    text-decoration: underline;
  }
  header nav ul li a {
    color: #ffffff;
  }

  header nav:hover ul li {
    display: block;
  }

  main .imgWraper {
    background-color: #111111;
    height: 11rem;
  }
  main .imgWraper img {
    display: none;
  }
  main .textImage {
    opacity: 2;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    background-color: #111111;
    color: #ffffff;
    width: 100%;
  }
  main .textImage h1 {
    font-size: 2rem;
  }
  main .textImage p {
    font-size: 1rem;
  }

  main .btnWraper {
    height: 3rem;
  }
  main .btnWraper .inputWrpaper {
    width: 30%;
    float: left;
  }
  main .btnWraper .inputWrpaper input {
    width: 3.5rem;
    padding: 0.5rem;
    margin-left: 30%;
    font-size: 8px;
  }

  main .offerWraper .imgContainer {
    width: 100%;
    margin: auto;
  }

  .img {
    float: none;
    width: 80%;
    padding: 1rem;
    margin-left: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: left;
  }
  .img img {
    height: 10rem;
    object-fit: cover;
  }
  .img .text {
    width: 85%;
    top: 1rem;
    padding: 1rem;
    opacity: 0.7;
    display: block;
  }

  .priceWraper {
    text-align: center;
  }
  .priceWraper h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    letter-spacing: 1px;
  }
  .priceWraper p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .tableContainer table {
    width: 80%;
    display: none;
  }

  .priceWraper .btnTable {
    display: block;
  }

  .tableContainer:hover table {
    display: block;
  }
  .tableContainer:hover .btnTable {
    display: none;
  }

  .contact .contactWraper {
    display: block;
  }
  .contact .contactWraper .mapNewYork {
    width: 100%;
  }
  .contact .contactWraper .mapNewYork iframe {
    width: 18rem;
    height: 18rem;
  }
  .contact .contactWraper .contactContainer {
    text-align: center;
  }
  .contact .contactWraper .contactContainer form {
    width: 88%;
    margin-bottom: 5rem;
  }
  .contact .contactWraper .contactContainer form select {
    width: 100%;
  }
  .contact .contactWraper .contactContainer form input {
    width: 95%;
    height: 1.7rem;
  }
  .contact .contactWraper .contactContainer form input#name {
    margin-top: 1rem;
  }
  .contact .contactWraper .contactContainer form input#email {
    width: 94.5%;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
