    $font: 'Roboto', sans-serif;
    
    $narandzasta: #f75311;
	$pozadina-header-footer: #374249;
	$Boja-slova: #797979;
	$Naslovi: #374249;
	$hover-pozadina: #cfd1d3;
	$pozadina-sekcije: #f3f7f9;   