@mixin main {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    font-family: $font;
  }
}

// MEDIA QUERI
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
