$colorOrange: #f75311;

//header and footer
$colorDarkBlue: #374249;

//font
$colorFont: #797979;

//title
$colorTitle: #374249;

//hover on btn
$ligthGray: #cfd1d3;

//backgrond
$colorBackground: #f3f7f9;

//font
$font: "Roboto", sans-serif; ;
