$colorOrange: #f75311;
$colorBlack: #111111;
$colorWhite: #ffffff;

//header and footer
$colorDarkBlue: #374249;

//font
$colorFont: #797979;

//title
$colorBackground: #374249;

//hover on btn
$ligthGray: #cfd1d3;

//backgrond
$colorTitle: #f3f7f9;

//font
$font: "Roboto", sans-serif; ;
