@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font: "Roboto", sans-serif;

$bg-primary: #374249;
$bg-secondary: #f75311;
$bg-btn-hover: #cfd1d3;
$bg-section: #f3f7f9;
$bg-links: #485f6d;
$bg-header: rgb(28, 37, 43, 0.5);

$color-primary: #f4f4f4;

$color-text: #797979;
$color-h: #374249;
