$fontFamily: "Roboto", sans-serif;

$orangeColor: #f75311;
$headerFooterColor: #374249;
$fontColor: #797979;
$fontHeadlineColor: #374249;
$colorHover: #cfd1d3;
$grayColorHover: #f3f7f9;

$whiteColor: #fff;
$darkColor: #000;
