@import "vars";
@import "mixin";
@import "header";
@import "footer";

* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font;
}

a {
  text-decoration: none;
}

// MAIN SECTION ONE
main {
  .textImage {
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.6;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $colorBackground;
    color: $colorTitle;
  }
}

// SECTION TWO
main {
  .btnWraper {
    height: 5rem;
    .inputWrpaper {
      width: 40%;
      float: right;
      display: flex;
      input {
        width: 5rem;
        text-align: center;
        padding: 1rem;
        margin: auto;
        border: 1px solid $ligthGray;
        color: $ligthGray;
        border-radius: 2rem;
        margin-top: 0.7rem;

        &:hover {
          background-color: $ligthGray;
          color: $colorWhite;
        }
      }
    }
  }
}

// SECTION THREE
main {
  .offerWraper {
    background-color: $colorTitle;
    .imgContainer::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

main {
  .offerWraper {
    .imgContainer {
      width: 80%;
      margin: auto;
    }
  }
}
.img {
  float: left;
  width: 10rem;
  padding: 1rem;
  margin: {
    left: 1.3rem;
    top: 1rem;
    bottom: 1rem;
  }
  position: relative;
  text-align: left;

  img {
    height: 13rem;
  }
  .text {
    position: absolute;
    top: 1rem;
    padding: 1rem;
    background-color: $colorTitle;
    opacity: 0.6;
    display: none;
  }
}

.img:hover {
  .text {
    display: block;
  }
}

// SECTION FOUR
.priceWraper {
  text-align: center;
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    letter-spacing: 1px;
  }
  p {
    margin: {
      top: 2rem;
      bottom: 2rem;
    }
  }
}

.tableContainer {
  margin: {
    bottom: 5rem;
  }
  table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    tr {
      width: 50%;

      #gone {
        border: none;
      }

      #orange {
        background-color: $colorOrange;
        color: $ligthGray;
      }

      #darkBlue {
        background-color: $colorDarkBlue;
        color: $ligthGray;
      }

      td {
        width: 25%;
        border: 1px solid black;
      }

      th {
        width: 25%;
        border: 1px solid black;
      }
    }
  }
}

.priceWraper {
  .btnTable {
    text-align: center;
    display: none;

    input {
      width: 10rem;
      padding: 1rem;
      margin-top: 1rem;
      border: 1px solid $ligthGray;
      background-color: $colorWhite;
      color: $ligthGray;
      border-radius: 5rem;

      &:hover {
        background-color: $ligthGray;
        color: $colorWhite;
      }
    }
  }
}

// SECTION FIVE

main {
  .contact {
    display: block;
    background-color: $colorTitle;
    h1 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 2rem;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}

.contact {
  .contactWraper {
    display: flex;
    .mapNewYork {
      text-align: center;
      width: 70%;
      margin-top: 4rem;
      iframe {
        width: 15rem;
        height: 15rem;
      }
    }

    .contactContainer {
      form {
        width: 70%;
        margin: {
          top: 3.5rem;
          bottom: 7rem;
        }
        background-color: $colorOrange;
        padding: 1rem;
        display: inline-block;
        text-align: center;

        select {
          width: 20%;
          height: 1.8rem;
          margin-right: 1rem;
        }

        input {
          width: 70%;
          height: 1.7rem;
          color: $ligthGray;
          padding-left: 1rem;
        }

        input#email {
          width: 94.5%;
          margin-top: 1rem;
        }

        textarea {
          width: 95%;
          margin-top: 1rem;
          padding-left: 1rem;
        }
      }
    }
  }
}

// MIXINS

@include large;
@include medium;
@include small;
