@import "var";
@import "mixin";

@include main;

nav {
  background-color: $bg-primary;
  display: flex;
  align-items: center;
  height: 70px;

  ul {
    display: flex;
    height: 100%;

    li {
      display: flex;
      list-style: none;
      height: 100%;
      align-items: center;

      a {
        display: inline-block;
        text-decoration: none;
        color: $color-primary;
        text-align: center;
        width: 100px;
        margin: 0 10px;
        padding: 10px;

        &:hover {
          text-decoration: underline;
        }

        &.nav-ny {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          padding: 0 50px;
          width: 250px;
          background-color: $bg-secondary;
          height: 100%;
        }
      }
    }
  }
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../slike/intro.jpg') no-repeat 
  center center/cover;
  height: 90vh;
  width: 100%;

  .showcase-content {
    background-color: $bg-header;
    width: 70vw;
    text-align: center;
    

    h1 {
      color: $color-primary;
      font-size: 2.5rem;
    }

    p {
      color: $color-primary;
      font-size: 1.5rem;
    }

  }
}
